#loader-container {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

/* Loader Styles */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 170px;
    position: relative;
    margin: 0;
    padding: 0;
}

.loading_circle {
    border: 5px transparent solid;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.loading_blue {
    top: 0;
    border-top: 5px lightblue solid;
    animation: blue_animation 1.5s infinite;
    animation-delay: 4s;
    color: lightblue;
}

.loading_coral {
    left: 0;
    bottom: 0;
    border-top: 5px #FD5857 solid;
    animation: coral_animation 1.5s infinite;
    color: #FD5857;
}

.loading_orange {
    right: 0;
    bottom: 0;
    border-top: 5px #F79D41 solid;
    animation: orange_animation 1.5s infinite;
    color: #F79D41;
}

.loading_blue:after, .loading_blue:before,
.loading_coral:after, .loading_coral:before,
.loading_orange:after, .loading_orange:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 20px currentColor;
}

.loading_blue:after {
    right: 5px;
    top: 10px;
}

.loading_blue:before {
    width: 5px;
    height: 5px;
    top: 8.8px;
    left: 9px;
}

.loading_coral:after {
    right: 5px;
    top: 10px;
}

.loading_coral:before {
    width: 5px;
    height: 5px;
    top: 8.8px;
    left: 9px;
}

.loading_orange:after {
    right: 5px;
    top: 10px;
}

.loading_orange:before {
    width: 5px;
    height: 5px;
    top: 8.8px;
    left: 9px;
}

@keyframes blue_animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coral_animation {
    0% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(600deg);
    }
}

@keyframes orange_animation {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(480deg);
    }
}
